body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.header {
    font-size: 1.5em;
}

.blankLine {
    border-bottom: 1px solid black;
    min-height: 20px;
    padding-top: 70px;
}

@media print {
    .drawSingleJumpTable {
        page-break-after: always;
        page-break-inside: avoid;
    }

    .noPrint {
        display: none;
    }
}

.drawSingleJumpTable {
    width: 100%;
    font-size: 15pt;
}

.drawSingleJumpTable > td {
    width: 50%;
}

.leftside {
    width: 50%;
    height: 300px;
    vertical-align: top;
    padding-right: 40px;
}

.rightside {  
    width: 50%;    
    vertical-align: top;
    height: 300px;
}

.dashedBox {
    border: 3px dashed black;
    min-height: 300px;
    vertical-align: middle;
    padding: 10px;
    font-size: 1.5em;
}

.jumpers {
    padding-left: 30px;
}
