<?xml version="1.0"?>
<connectionStrings>
  <!--<add name="piia" providerName="System.Data.SqlClient" connectionString="Server=localhost;Database=local_piiadb;Integrated Security=True;Connection Timeout=30;MultipleActiveResultSets=True" />-->
  <add name="piia" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;port=3306;database=localpiia;uid=root;password=admin" />
</connectionStrings>
