USE [master]
GO
/****** Object:  Database [piiadb]    Script Date: 4/12/2015 4:07:56 PM ******/
CREATE DATABASE [piiadb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'piiadb', FILENAME = N'D:\RDSDBDATA\DATA\piiadb.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'piiadb_log', FILENAME = N'D:\RDSDBDATA\DATA\piiadb_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [piiadb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [piiadb]
GO
/****** Object:  User [piiaadmin]    Script Date: 4/12/2015 4:07:56 PM ******/
CREATE USER [piiaadmin] FOR LOGIN [piiaadmin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [jhilden]    Script Date: 4/12/2015 4:07:56 PM ******/
CREATE USER [jhilden] FOR LOGIN [jhilden] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [piiaadmin]
GO
ALTER ROLE [db_owner] ADD MEMBER [jhilden]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 4/12/2015 4:07:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Jumper]    Script Date: 4/12/2015 4:07:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jumper](
	[JumperID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[NumberOfJumps] [int] NOT NULL,
	[Organizer] [bit] NOT NULL,
	[Paid] [bit] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[RandomizedUpDown] [int] NULL,
	[RandomizedLetter] [nvarchar](1) NULL,
	[JumpGroup] [int] NULL,
 CONSTRAINT [PK_dbo.Jumper] PRIMARY KEY CLUSTERED 
(
	[JumperID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Round]    Script Date: 4/12/2015 4:07:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Round](
	[RoundID] [int] IDENTITY(1,1) NOT NULL,
	[RoundNumber] [int] NOT NULL,
	[Formations] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Round] PRIMARY KEY CLUSTERED 
(
	[RoundID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Jumper] ON 

GO
INSERT [dbo].[Jumper] ([JumperID], [FirstName], [LastName], [NumberOfJumps], [Organizer], [Paid], [Comment], [RandomizedUpDown], [RandomizedLetter], [JumpGroup]) VALUES (1, N'Jay', N'Hilden', 600, 1, 1, NULL, 1, NULL, 1)
GO
INSERT [dbo].[Jumper] ([JumperID], [FirstName], [LastName], [NumberOfJumps], [Organizer], [Paid], [Comment], [RandomizedUpDown], [RandomizedLetter], [JumpGroup]) VALUES (2, N'Miles', N'Hubbard', 16000, 0, 0, NULL, 1, NULL, 2)
GO
INSERT [dbo].[Jumper] ([JumperID], [FirstName], [LastName], [NumberOfJumps], [Organizer], [Paid], [Comment], [RandomizedUpDown], [RandomizedLetter], [JumpGroup]) VALUES (3, N'David', N'Prozinski', 5500, 0, 0, NULL, 1, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[Jumper] OFF
GO
SET IDENTITY_INSERT [dbo].[Round] ON 

GO
INSERT [dbo].[Round] ([RoundID], [RoundNumber], [Formations]) VALUES (1, 1, N'a,b,c')
GO
INSERT [dbo].[Round] ([RoundID], [RoundNumber], [Formations]) VALUES (2, 2, N'f,g,h')
GO
INSERT [dbo].[Round] ([RoundID], [RoundNumber], [Formations]) VALUES (3, 3, N'o,h,b')
GO
SET IDENTITY_INSERT [dbo].[Round] OFF
GO
/****** Object:  DdlTrigger [rds_deny_backups_trigger]    Script Date: 4/12/2015 4:07:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [rds_deny_backups_trigger] ON DATABASE WITH EXECUTE AS 'dbo' FOR
 ADD_ROLE_MEMBER, GRANT_DATABASE AS BEGIN
   SET NOCOUNT ON;
   SET ANSI_PADDING ON;
 
   DECLARE @data xml;
   DECLARE @user sysname;
   DECLARE @role sysname;
   DECLARE @type sysname;
   DECLARE @sql NVARCHAR(MAX);
   DECLARE @permissions TABLE(name sysname PRIMARY KEY);
   
   SELECT @data = EVENTDATA();
   SELECT @type = @data.value('(/EVENT_INSTANCE/EventType)[1]', 'sysname');
    
   IF @type = 'ADD_ROLE_MEMBER' BEGIN
      SELECT @user = @data.value('(/EVENT_INSTANCE/ObjectName)[1]', 'sysname'),
       @role = @data.value('(/EVENT_INSTANCE/RoleName)[1]', 'sysname');

      IF @role IN ('db_owner', 'db_backupoperator') BEGIN
         SELECT @sql = 'DENY BACKUP DATABASE, BACKUP LOG TO ' + QUOTENAME(@user);
         EXEC(@sql);
      END
   END ELSE IF @type = 'GRANT_DATABASE' BEGIN
      INSERT INTO @permissions(name)
      SELECT Permission.value('(text())[1]', 'sysname') FROM
       @data.nodes('/EVENT_INSTANCE/Permissions/Permission')
      AS DatabasePermissions(Permission);
      
      IF EXISTS (SELECT * FROM @permissions WHERE name IN ('BACKUP DATABASE',
       'BACKUP LOG'))
         RAISERROR('Cannot grant backup database or backup log', 15, 1) WITH LOG;       
   END
END


GO
ENABLE TRIGGER [rds_deny_backups_trigger] ON DATABASE
GO
USE [master]
GO
