@model Scrambles.Models.DrawSingleJump

<div class="drawSheet">
    <div>
        <div class="header">Jumpbers</div>
        @Model.Jumper1.ToString()<br/>
        @Model.Jumper2.ToString()<br/>
        @Model.Jumper3.ToString()<br/>
        @Model.Jumper4.ToString()<br/>
    </div>
    <div class="header">CameraMan</div>
    <div class="blankLine"></div>
</div>


